.container-title {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 0;
  font-size: 14px;
  color: #fff;
  background-color: #1B2838;
}

.container-cards {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #1B2838;
}