.card {
  margin: 0.5rem;
}

.card-item {
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.card-image img {
  width: 15rem;
  height: 10rem;
}

.card-title {
  font-size: 13px;
  padding: 0.4rem 0;
}

.wishlist {
  color: #7c0711;
  font-size: 1.4em;
  padding: 0.5rem 0;
  display: flex;
}

.wishlist:hover {
  cursor: pointer;
}

.card-item:hover {
  color: #b8b6b4;
  cursor: pointer;
  transition: all 200ms ease;
}

.card-image:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}