*{
    
    list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

.navbar{
    background-color: #171a21;
    padding: 11px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo{
    width: 160px;
    margin: 0px 10px 0px 0px;
    padding: 20px 0px 0px;
}


.menus{
    font-family: 'Shippori Antique', sans-serif;
    color: #B8B6B4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    
}

.menus li{
    margin: 0rem 1rem;

}