.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a1a;
  padding: 2rem 0;
  color: #fff;
}

.footer span{
  font-size: 0.5rem;
}

.social {
  font-size: 3.5em;
}